<main>
  <div class="main-container">
    <div class="main-headers">
      <h1>JSON <span>PLACEHOLDER</span></h1>
      <h4>Angular App</h4>
    </div>
    <div class="main-containers">
      <div routerLink="/posts">
        <i class="fa-solid fa-clipboard"></i>
        <h3>Posts</h3>
      </div>
      <div routerLink="/albums">
        <i class="fa-solid fa-images"></i>
        <h3>Albums</h3>
      </div>
      <div routerLink="/todos">
        <i class="fa-solid fa-square-check"></i>
        <h3>Todos</h3>
      </div>
    </div>
  </div>
</main>
