<section>
  <div class="container">
    <div class="edit-form">
      <form #postForm="ngForm" (ngSubmit)="EditedPost()">
        <button type="button" (click)="onCloseEditPost()" class="go-back-btn">
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        <div *ngIf="selectedTask">
          <label>Title</label>
          <input
            type="text"
            [(ngModel)]="selectedTask.title"
            name="title"
            required
          />

          <br />
          <label>Body</label>
          <textarea
            [(ngModel)]="selectedTask.body"
            name="body"
            required
            cols="30"
            rows="6"
          ></textarea>

          <br />
          <button type="submit">Edit</button>
        </div>
      </form>
    </div>
    <div>
      <app-comments></app-comments>
    </div>
  </div>
</section>
