<app-add-post
  *ngIf="showCreateTaskForm"
  (EmitTaskData)="CreateTask($event)"
  (CloseForm)="CloseCreateTaskForm()"
></app-add-post>
<section *ngIf="!showEditPost">
  <div class="post-section-container">
    <button class="addPost-btn" (click)="OpenCreateTaskForm()">Add Post</button>
    <div class="posts-container">
      <ul class="post-headers">
        <li>POST'S USER</li>
        <li>TITLE</li>
        <li>BODY</li>
      </ul>
      <div class="post-information">
        <ul *ngFor="let task of allTasks" (click)="openEditPost(task)">
          <li>{{ task.user.name }}</li>
          <li>{{ task.title }}</li>
          <li>{{ task.body }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<app-edit-post
  *ngIf="showEditPost"
  (CloseEditPost)="CloseEditPost()"
  [selectedTask]="selectedTask"
  (UpdatePost)="UpdatePost($event)"
></app-edit-post>
<router-outlet></router-outlet>
